<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 사용 페이지</title>
</head>
<body>
    <h1>관리자 페이지</h1>
    <select>
        <option>정렬</option>
        <option>오름차순</option>
        <option>내림차순</option>
        <option>최신순</option>
    </select>
    <table border="1">
        <thead>
            <tr>
                <th>순번</th>
                <th>프랜차이즈명</th>
                <th>가맹점명</th>
                <th>배달가능여부</th>
                <th>좋아요수</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
</html>